@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(81px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInSlideUp2 {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.waiting-to-animate {
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
  opacity: 0;
  transform: translateY(81px);
}
