.faq {
  padding-bottom: 363px;
}

.question {
  @include container;

  animation-duration: 1s;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0px;
  }

  > summary {
    background: $color-white;
    border: 1px solid #eeeeee;
    border-radius: 100px;
    font-size: 22px;
    list-style: none;
    padding: 22px 50px;

    &::-webkit-details-marker {
      display: none;
    }
  }

  > p {
    background: #fcfcfc;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    color: $color-black;
    margin: 0 auto;
    padding: 30px 40px 40px;
    width: 95%;

    > a {
      color: $color-blue-1;
      font-weight: 500;
    }
  }
}

@media (max-width: 1450px) {
  .faq {
    padding-bottom: 122px;
  }

  .question {
    > p {
      width: 90%;
    }
  }
}

@media (max-width: 1100px) {
  .faq {
    padding-bottom: 200px;
  }
}

@media (max-width: 500px) {
  .faq {
    padding-bottom: 150px;
  }

  .question {
    > summary {
      position: relative;
      z-index: 1;
    }

    > p {
      position: relative;
      top: -10px;
    }
  }
}
