.header {
  @include container;

  margin: 247px auto 160px;
  position: relative;

  &.header-center {
    max-width: 880px;
    text-align: center;
  }

  &.header-with-image {
    margin-bottom: 100px;

    img {
      margin-top: 106px;
    }

    &::after {
      background: linear-gradient(
        180deg,
        rgba(252, 252, 252, 0) 0%,
        rgba(252, 252, 252, 0) 0.01%,
        #fcfcfc 58.33%,
        #ffffff 100%
      );
      bottom: -100px;
      content: '';
      left: 0;
      position: absolute;
      height: 324px;
      width: 100%;
    }
  }

  h1 {
    max-width: 880px;
  }
}
