.homepage-header {
  @include container;

  align-items: center;
  display: flex;
  margin-bottom: 150px;
  margin-top: 207px;

  > div {
    width: 688px;

    h1 {
      margin-bottom: 50px;
    }

    a {
      @include button;
    }
  }
}
