.quote-generator {
  padding-bottom: 292px;

  > div {
    @include container;

    align-items: center;
    display: flex;
    flex-direction: column;

    > img {
      animation: fadeIn 1.3s cubic-bezier(0.6, 0.2, 0.1, 1);
      margin-bottom: 50px;
      max-height: 334px;
      max-width: 600px;
      width: 100%;
    }

    > button {
      @include button;

      animation: fadeInSlideUp 1.5s cubic-bezier(0.6, 0.2, 0.1, 1);
      font-size: 18px;
    }
  }

  > form {
    @include container;

    > div:last-of-type {
      align-items: center;
      display: none;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1080px;

      > button {
        @include button;
      }

      > p {
        color: #54d679;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}

.form-question {
  display: none;
  padding-top: 247px;
  text-align: center;

  &.pages > div {
    max-width: 1130px;
  }

  > span {
    color: $color-blue-1;
    font-size: 20px;
    margin-bottom: 5px;
  }

  > p {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 90px;

    > span {
      display: block;
      color: #a6a6a6;
      font-size: 16px;
      margin-top: 10px;
    }
  }

  > div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 80px;
    max-width: 815px;
  }
}

.form-answer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 215px;
  justify-content: center;
  position: relative;
  width: 185px;

  > input {
    position: absolute;
    opacity: 0;

    &:hover + svg path,
    &:focus + svg path {
      fill: rgba(217, 238, 255, 0.5);
    }

    &:checked + svg path {
      fill: $color-blue-2;
    }
  }

  > svg {
    left: 0;
    position: absolute;
    top: 0;
  }

  > img {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
  }

  > p {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    z-index: 1;
  }
}

.form-details {
  align-items: center;
  display: none;
  flex-direction: column;
  padding-top: 227px;

  > p:first-of-type {
    font-size: 60px;
    margin-bottom: 25px;
    text-align: center;
  }

  > p:last-of-type {
    color: #54d679;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  > input {
    border-bottom: 1px solid #c4c4c4;
    box-sizing: border-box;
    margin-bottom: 15px;
    max-width: 517px;
    outline: none;
    padding: 22px 32px;
    height: 65px;
    width: 100%;

    &:focus {
      background: #f7f7f7;
      border-color: transparent;
      border-radius: 10px;
    }
  }

  > textarea {
    border-bottom: 1px solid #c4c4c4;
    box-sizing: border-box;
    height: 175px;
    margin-bottom: 50px;
    max-width: 517px;
    outline: none;
    padding: 22px 32px;
    resize: none;
    width: 100%;

    &:focus {
      background: #f7f7f7;
      border-color: transparent;
      border-radius: 10px;
    }
  }

  > button {
    @include button;
    margin-bottom: 30px;
  }

  > a {
    color: $color-grey-1;
    font-weight: 300;
  }
}

@media (max-width: 1450px) {
  .quote-generator {
    padding-bottom: 200px;
  }

  .form-question {
    padding-top: 173px;

    > span {
      font-size: 18px;
    }

    > p {
      font-size: 24px;
      margin-bottom: 60px;

      > span {
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }

  .form-details {
    padding-top: 174px;

    p:first-of-type {
      font-size: 40px;
      margin-bottom: 20px;
    }

    p:last-of-type {
      font-size: 24px;
      margin-bottom: 40px;
    }

    textarea {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 1100px) {
  .form-question {
    padding-top: 246px;

    > p {
      font-size: 30px;
      margin-bottom: 90px;

      > span {
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }

  .form-details {
    padding-top: 246px;

    p:first-of-type {
      font-size: 60px;
      margin-bottom: 25px;
    }

    p:last-of-type {
      font-size: 34px;
      margin-bottom: 50px;
    }

    textarea {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 790px) {
  .form-answer {
    height: 118px;
    width: 102px;

    &:first-of-type {
      margin-left: 10px;
    }

    &:last-of-type {
      margin-left: 10px;
    }

    > svg {
      height: 118px;
      width: 102px;
    }
  }
}

@media (max-width: 500px) {
  .form-question {
    padding-top: 112px;

    > p > span {
      margin-top: 15px;
    }

    > div {
      margin-bottom: 0;
    }
  }

  .form-answer {
    margin-bottom: 80px;
  }

  .quote-generator > form > div:last-of-type {
    flex-direction: column;

    > button:first-of-type {
      background: none;
      border: none;
      box-shadow: none;
      color: $color-black;
      font-size: 16px;
      font-weight: 300;
      margin-top: 20px;
      order: 1;

      &[disabled] {
        display: none;
      }
    }

    > p {
      order: -1;
      margin-bottom: 40px;
    }
  }

  .form-details {
    padding-top: 142px;

    p:first-of-type {
      font-size: 40px;
      margin-bottom: 20px;
    }

    p:last-of-type {
      font-size: 24px;
      margin-bottom: 60px;
    }

    textarea {
      margin-bottom: 60px;
    }
  }
}
