.quote-generator-header {
  > div {
    margin: 0 auto;
    max-width: 880px;
    padding-bottom: 40px;
    padding-top: 227px;
    text-align: center;

    h1 {
      margin-bottom: 30px;
    }

    > p {
      margin-top: 30px;
    }
  }
}
