.services {
  @include container;

  margin-bottom: 300px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  align-items: flex-start;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 115px;
  width: 275px;

  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(8) {
    margin-bottom: 0;
  }

  > img {
    height: 60px;
    margin-bottom: 20px;
    order: -1;
  }

  > h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }
}
